.centered {
  align-self: : center;
}
.iframeContainer {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.projectDescription {
}
.card-title {
}
.card-image {
  margin-top: 25% !important;
}
nav {
  position: fixed !important;
}
img {
  margin-left: 1em;
  margin-top: 0.15em;
  margin-bottom: 0.05em;
  border-style: solid;
  border-width: thin;
  border-color: inherit;
  border-radius: 50%;
  max-height: 1.75em;
}
