<nav class="nav-extended aboutNav">
    <div class="nav-wrapper">
      <a href="" class="brand-logo"><img src="../images/04_DerekJones copy.jpg"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="active"><a ui-sref="about">About</a></li>
        <li><a ui-sref="colors">Projects</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li class="active"><a ui-sref="about">About</a></li>
        <li><a ui-sref="colors">Projects</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
    </div>
</nav>
<main class="">
  <h2>Derek Jones</h2>
</main>
