            <div class="card-image">
              <div class="iframeContainer">
                <iframe class="centered" width="560" height="315" src="https://www.youtube.com/embed/cvUn30U1faM" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="card-content">
                <span class="card-title">(dot)HasPrettyColors </span>
                <p>(dot)HasPrettyColors is a front-end web application to assist web developers in creating color schemes for sites. It allows the creation of custom color schemes and allows the developer to apply them to a generic website template.</p>
                <p class="asterisk"> *A full-stack version of (dot)HasPrettyColors utilizing React and C# is currently in the works.</p>
                <br/>
                <span>
                  <a href="https://github.com/djamesjones4/-dot-Has-Pretty-Colors">https://github.com/djamesjones4/-dot-Has-Pretty-Colors</a>
                </span>
            </div>
            <div class="card-action">
                <a href="#">Technologies</a>
            </div>
            <div>
              <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header active"><i class="material-icons">chevron_right</i>Colour Lovers API</div>
                  <div class="collapsible-body"><span>The Colour Lovers third party API was integrated into the front-end to include searchable color palettes.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">chevron_right</i>HTML</div>
                  <div class="collapsible-body"><span>HTML is used to create all of the static content in this application.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">chevron_right</i>JavaScript</div>
                  <div class="collapsible-body"><span>JavaScript is the language used for all dynamic aspect of the website. </span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">chevron_right</i>JQuery</div>
                  <div class="collapsible-body"><span>JQuery is a client side JavaScript library used for DOM manipulation and dynamic generation. </span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">chevron_right</i>CSS</div>
                  <div class="collapsible-body"><span>CSS along with Twitter's Bootstrap CSS Framework are the language and framework used for the styling of this application.</span></div>
                </li>
              </ul>
            </div>
