            <div class="card-image">
              <div class="iframeContainer">
                <iframe class="centered" width="560" height="315" src="https://www.youtube.com/embed/cvUn30U1faM" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="card-content">
                <span class="card-title">(dot)HasPrettyColors</span>
                <p>(dot)HasPrettyColors is a front-end web application to assist web developers in creating color schemes for sites.</p>
            </div>
            <div class="card-action">
                <a href="#">Technologies</a>
            </div>
            <div>
              <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
              </ul>
            </div>
