            <div class="card-image row">
              <div class="iframeContainer">
                <iframe class="centered"  src="https://www.youtube.com/embed/OjtBHjTmtOM" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="card-content row">
                <span class="card-title">Doctor's Note</span>
                <p class="projectDescription">Doctor's Note is a full stack native iOS application to help healthcare professionals connect with patients by sharing session notes.</p>
                <br/> 
                <span> Swift Clientside Code - <a href="https://github.com/djamesjones4/doctors_note_ios">https://github.com/djamesjones4/doctors_note_ios </a>
                </span>
                <br />
                <span>
                  Serverside Code -
                <a href="https://github.com/djamesjones4/doctors_note">https://github.com/djamesjones4/doctors_note</a>
              </span>
            </div>
            <div class="card-action">
                <a href="#">Technologies</a>
            </div>
            <div>
              <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header"><i class="material-icons">chevron_right</i>Swift 3</div>
                  <div class="collapsible-body"><span>Swift 3 was used to create the entire client side mobile application, including JRON and REST services. </span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">chevron_right</i>Xcode</div>
                  <div class="collapsible-body"><span>Xcode is the development environment used to create this app. It was used for implementation of Swift as well as the visual components of the graphical interface.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">chevron_right</i>Node.js</div>
                  <div class="collapsible-body"><span>Node.js is the server-side technologie used to host all stored user information and perform authentication and authorization.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">chevron_right</i>PostgreSQL</div>
                  <div class="collapsible-body"><span>PostgreSQL is the database used to store all user information. </span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">chevron_right</i>Express.js</div>
                  <div class="collapsible-body"><span>Express.js is the server framework used to create this application. </span></div>
                </li>
              </ul>
            </div>
