            <div class="card-image row">
              <div class="iframeContainer">
                <iframe class="centered"  src="https://www.youtube.com/embed/OjtBHjTmtOM" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="card-content row">
                <span class="card-title">Doctor's Note</span>
                <p class="projectDescription">Doctor's Note is a native iOS application to help healthcare professionals connect with patients by sharing session notes.</p>
            </div>
            <div class="card-action">
                <a href="#">Technologies</a>
            </div>
            <div>
              <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
              </ul>
            </div>
