            <div class="card-image">
              <!-- change iframe to video for garden growers -->
              <div class="iframeContainer">
                <iframe class="centered" width="560" height="315" src="https://www.youtube.com/embed/6_s0l4w8zNU" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="card-content">
                <span class="card-title">Garden Growers</span>
                <p>Garden Growers is a full stack RESTful web application for connecting gardeners in a social network.</p>
            </div>
            <div class="card-action">
                <a href="#">Technologies</a>
            </div>
            <div>
              <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header"><i class="material-icons">chevron_right</i>HTML</div>
                  <div class="collapsible-body"><span>HTML is used to create all of the content in this application.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">chevron_right</i>CSS</div>
                  <div class="collapsible-body"><span>CSS along with Charts.js and svg graphics are used for the display of this application.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">chevron_right</i>Node.js</div>
                  <div class="collapsible-body"><span>Node.js is the server-side technology used to manage the RESTful routing of this application.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">chevron_right</i>Express.js</div>
                  <div class="collapsible-body"><span>Express.js is the server-side framework used to manage the RESTful routing of this application.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">chevron_right</i>PostgreSQL</div>
                  <div class="collapsible-body"><span>PostgerSQL is the database used in this application.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">chevron_right</i>Twitter Bootstrap</div>
                  <div class="collapsible-body"><span>Twitter Bootstrap is the CSS framework used in this application.</span></div>
                </li>
              </ul>
            </div>
