            <div class="card-image">
              <!-- change iframe to video for garden growers -->
              <div class="iframeContainer">
                <iframe class="centered" width="560" height="315" src="https://www.youtube.com/embed/6_s0l4w8zNU" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="card-content">
                <span class="card-title">Garden Growers</span>
                <p>Garden Growers is a full stack RESTful web application for connecting gardeners in a social network.</p>
            </div>
            <div class="card-action">
                <a href="#">Technologies</a>
            </div>
            <div>
              <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header"><i class="material-icons">code</i>HTML</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header active"><i class="material-icons">place</i>CSS</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">whatshot</i>Node.js</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
              </ul>
            </div>
