<nav class="nav-extended navbar-fixed aboutNav">
    <div class="nav-wrapper">
      <a href="" class="brand-logo"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="active"><a ui-sref="about">About</a></li>
        <li><a ui-sref="colors">Projects</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li class="active"><a ui-sref="about">About</a></li>
        <li><a ui-sref="colors">Projects</a></li>
      </ul>
    </div>
</nav>

<main class="container">
  <div class="row aboutRow">
      <div class="col s8 m8 offset-m2">
        <div class="card">
          <ui-view></ui-view>
        </div>
      </div>
  </div>


</main>
