
<div class="card-image">
  <!-- change iframe to video for Yoga Buddy -->
  <div class="iframeContainer">
    <!-- placeholder until site is ready for video -->
    <img src="/../images/GetImage.png" alt="" class="yogaPlaceholder">
  </div>
</div>
<div class="card-content">
  <h3 class="center"> In Progress </h3>
    <span class="card-title"><b>Yoga Buddy -</b> <a href="https://github.com/djamesjones4/YogaBuddy">https://github.com/djamesjones4/YogaBuddy</a></span>
    <p>Yoga Buddy is a full stack RESTful web application allowing Yoga practitioners to get advice on they posture from certified yoga professionals and the larger yoga community. Ita allows users to upload images and video for commenting, as well as participate in live chats about yoga.</p>
</div>
<div class="card-action">
    <a href="#">Technologies</a>
</div>
<div>
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">chevron_right</i>AngularJS</div>
      <div class="collapsible-body"><span>AngularJs is used as a client side MVC framework to make this a single-page web application.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">chevron_right</i>Javascript</div>
      <div class="collapsible-body"><span>Javascript is the language used for both serverside and clientside coding. </span></div>
    </li>
        <li>
      <div class="collapsible-header"><i class="material-icons">chevron_right</i>CSS</div>
      <div class="collapsible-body"><span>CSS along with svg graphics and AngularJS are used for the display of this application.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">chevron_right</i>Node.js</div>
      <div class="collapsible-body"><span>Node.js is the server-side technology used to manage the RESTful routing of this application.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">chevron_right</i>Express.js</div>
      <div class="collapsible-body"><span>Express.js is the server-side framework used to manage the RESTful routing of this application.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">chevron_right</i>PostgreSQL</div>
      <div class="collapsible-body"><span>PostgerSQL is the database used in this application.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">chevron_right</i>Twitter Bootstrap</div>
      <div class="collapsible-body"><span>Twitter Bootstrap is the CSS framework used in this application.</span></div>
    </li>
  </ul>
</div>
